/* Add your styles below this */
.wrapper{
    width: 70%;
}

.header, .footer{
    background-color: purple;
    color: white;
    padding: 30px;
}

.content{
    border: 1px solid #000;
    margin: 10px 0;
    padding: 30px;

}

